*{
    margin: 0px;
    padding: 0px;
}

/*cabezera*/

header{
    display: flex;
    flex-direction: column;
    height: 85vh;
    background-image: url('../assents/img/banner-bk.jpg');
    background-size: cover;
    color: white;
    font-family:'Lucida Sans';

}
nav{
    margin: 100px 165px 0px 165px;
    display: flex;
    justify-content: space-between;
}
#logo{
    width: 100px;
}
#linkNav{
    margin: 20px 0px;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.headAside{
    margin: 60px 165px 0PX 165PX;
}
h1{
    font-size: 95px;
}
.headAsideP{
    margin: 60px 165px;
    width: 1050px;
    font-size: 25px;
    color: rgba(245, 245, 245, 0.856);
}
#pSpacieHeader{
    margin: 15px 0px;
}
p{
    font-family: Tahoma;
    font-weight: lighter;
}
.button1{
    margin: 60px 0px;
    width: 180px;
    height: 60px;
    border-radius: 30px;
    border: transparent;
    background-color: rgb(0,255,173);
    color: black;
    font-size: 20px;
    font-weight: 700;
}

/*Seccion1*/

.firstSection{
    margin: 45px 0px;
    display: flex;
    flex-direction: column;
    height: 72vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.firstSectionTitle{
    font-family: Arial;
    font-size: 60px;
    font-weight: bolder;
}
.imgAside{
    margin: 50px 0px 50px 0px;
    display: flex;
}
.divFirstSection{
    margin: 0px 50px;
}
.imgFirstSection{
    margin: 0px 50px 0px 50px;
    width: 250px;
}
h6{
    margin: 0px 0px 15px 0px;
    font-family: Arial;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}
.PSection1{
    width: 400px;
    text-align: center;
    font-size: 20px;
}

/*Section2*/

.SecondSection{
    padding: 20px 0px;
    display: flex;
    height: 108vh;
    flex-direction: column;
    background: linear-gradient(345deg, rgba(0,255,179,1) 10%, rgba(0,255,179,1) 65%, rgba(0,255,179,1) 50%, rgba(255,255,255,1) 0%);
}
.firstAside{
    margin: 20px 160px 0px 180px;
    display: flex;
    justify-content: space-between;
}
.secondAside{
    margin: 280px 180px 0px 180px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.h2Section2{
    margin: 20px 0px 25px 0px;
    font-family: Arial;
    font-size: 60px;
    font-weight: bolder; 
}
.textSection2{
    width: 700px;
    font-size: 20px;    
}
.buttonSection2{
    margin: 60px 0px;
    width: 190px;
    height: 60px;
    border-radius: 30px;
    border: transparent;
    background-color: rgb(25,36,64);
    color: white;
    font-size: 20px;
    font-weight: 700;
}
#imgSection2Aside2{
    margin: 0px 0px 0px 120px;
}

/*section3*/

.section3{
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
}
.sectionBoxes{
    margin: 50px;
    display: flex;
}
.boxesAside{
    margin: 0px 50px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 250px;
    border-radius: 5px;
    align-items: center;
    font-size: 25px;
    font-family: Arial;
}
h4{
    margin: 20px 0px;
    font-size: 30px;
}
.divBoxes{
    margin: 20px 0px;
    display: flex;
}
.pSpecial{
    font-size: 90px;
    font-weight: 800;
}
.othersP{
    margin: 55px 0px 0px 0px;
}
.pSection3{
    margin: 8px 0px;
}
.section3button{
    margin: 60px 0px;
    width: 180px;
    height: 60px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 20px;
    font-weight: 700;
}
#boxSpecial{
    background-color: rgb(25,36,64);
    color: white;
    height: 580px;
    width: 500px;
}

/*section4*/

.section4{
    display: flex;
    height: 25vh;
    background-color: rgb(238, 236, 236);
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position:relative;
    position: sticky;
    bottom: 50px;
}
.imgClientes{
    width: 180px;
    height: 90px;
    margin: 0px 5px;
}
#stupidCat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -90px;
    color: white;
    font-size: 35px;
    font-family: fantasy;
}
#stupidCatIMG{
    width: 100px;
    border-radius: 150px;
    border: 5px solid black;
}
/* section5 */

.section5{
    padding: 0px 150px;
    display: flex;
    height: 60vh;
    background: url(../assents/img/contact-bk.jpg);
    background-size: cover;
    font-family:'Lucida Sans';
    color: white;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.section5boxtitle{
    width: 500px;
}
#h2section5{
    font-size: 50px;
    font-weight: 800;
}
#asideTextArea{
    margin: 10px 0px;
    font-size: 20px;
    color: rgb(224, 221, 221);
}
.pTextArea5{
    margin: 15px 0px;
}
#pTextArea5Special{
    margin: 35px 0px;
}
.TextBoxRequit{
    margin: 40px 0px 0px 0px;
}
.section5TextBox{
    display: flex;
}
h5{
    color: rgb(0,255,173);
    font-size: 20px;
    font-weight: lighter;
}
.inputTxtBox{
    margin: 10px 50px 30px 0px;
    background-color: transparent;
    border-color: rgb(0,255,173);
    border-radius: 5px;
    width: 350px;
    height: 50px;
}
#finalButton{
    background-color: rgb(0,255,173);
    border-radius: 30px;
    width: 750px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    border-color: transparent;
}
.Submitbutton{
    display: flex;
    flex-direction: column;
}
#textBoxSpecial{
    width: 750px;
    height: 140px;
}

/* footer */

footer{
    padding: 0px 50px;
    display: flex;
    height: 15vh;
    background-color: rgb(25,36,64);
    color: white;
    align-items: center;
    justify-content: space-between;
}
.ultimoP{
    margin-left: 280px;
}
.imagenesFace{
    width: 80px;
    height: 80px;
}
.imagenesX{
    width: 68px;
    height: 68px;
    margin-bottom: 5px;
}
.imagenesbmw{
    width: 57px;
    height: 57px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.imagenesUltima{
    margin-right: 50px;
    width: 80px;
    height: 80px;
}

/* mediacueris */

@media screen and (max-width: 1500px){
    /* header */
    nav{
        margin: 20px 30px 0px 30px;
    }
    .headAside{
        margin: 20px 30px 0PX 30PX;
    }
    h1{
        font-size: 85px;
    }
    .headAsideP{
        margin: 20px 30px;
    }
    .button1{
        margin: 20px 0px;
    }

    /* section1  */
    .firstSection{
        margin: 50px 0px 0px 0px;
        height: 80vh;
    }
    .divFirstSection{
        margin: 0px 0px;
    }
    .imgFirstSection{
        margin: 0px 0px 0px 60px;
        width: 250px;
    }
    /* section2  */
    .SecondSection{
        padding: 0px;
        height: 120vh;
    }
    .firstAside{
        margin: 0px 20px 0px 20px;
    }
    .secondAside{
        margin: 60px 0px 0px 0px;
    }
    .divFirstAsideMediaC{
        margin: 0px 0px;
        width: 550px;
        height: 420px; 
    }
    .textSection2{
        width: 550px;
    }
    .buttonSection2{
        margin: 30px 0px;
    }

    /* section3  */
    .section3{
        padding: 80px 0px;
        height: 110vh;
    }
    .boxesAside{
        margin: 0px 20px;
    }

    /* section5  */
    .section5{
        padding: 0px 0px;
        height: 80vh;

    }
    .inputTxtBox{
        margin: 10px 10px 20px 0px;
        width: 295px;
        height: 50px;
    }
    #finalButton{
        width: 600px;
        height: 50px;
    }
    #textBoxSpecial{
        width: 600px;
        height: 140px;
    }

}


    /* MDC 1279 */

@media screen and (max-width: 1279px) {

    /* header */
    header{
        align-items: center;
    }
    nav{
        margin: 30px 0px 10px 0px;
        width: 850px;
    }
    #logo{
        width: 70px;
    }
    #linkNav{
        margin: 20px 0px;
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
    .headAside{
        margin: 20px 0px 10px 0px ;
        width: 850px;
    }
    h1{
        font-size: 75px;
    }
    .headAsideP{
        margin: 15px 0px;
        width: 850px;
        font-size: 20px;
    }
    .button1{
        margin: 30px 0px;
    }

    /* section1 */
    
    .firstSection{
    margin: 20px 0px 0px;
    height: 80vh;
    }
    .firstSectionTitle{
        width: 800px;
        text-align: center;
    }
    .imgAside{
        margin: 0px 0px 20px 0px;
    }
    .fisrtSectionMDC{
        margin: 0px;
        width: 800px;
        justify-content: space-around;
    }
    .divFirstSection{
        margin: 0px 0px;
        width: 300px;
    }
    .imgFirstSection{
        margin: 0px 0px 0px 20px;
        width: 200px;
    }
    h6{
       margin: 0px 0px;
       width: 250px;
       text-align: center;
    }
    .PSection1{
        width: 250px;
    }

    /* section2 */
    .SecondSection{
        padding: 0px 0px;
        height: 130vh;
    }
    .firstAside{
        margin: 0px 0px 0px 0px;
        justify-content: space-around;
        align-items: center;
    }
    .divFirstAsideMediaC{
        width: 350px;
        height: 420px; 
    }
    .textSection2{
        width: 350px;
    }
    .secondAside{
        margin: 0px 0px 0px 0px;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .h2Section2{
        margin: 0px 0px 15px 0px;
    }
    .imgMDC{
        width: 550px;
    }
    .buttonSection2{
        margin: 20px 0px;
    }
    #imgSection2Aside2{
        margin: 0px 0px 0px 0px;
    }

    /* section3 */
    .section3{
        padding: 50px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200vh;
    }
    .sectionBoxes{
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .boxesAside{
        margin: 0px 0px;
        padding: 20px 0px;
    }
    .section3button{
        margin: 30px 0px; 
    }

    /* section4 */
    .section4{
        padding: 0;
    }
    .imgClientes{
        width: 120px;
        height: 70px;
    }

    /* section5 */
    .section5{
        padding: 0px;
        height: 80vh;
    }
    .section5boxtitle{
        width: 400px;
    }
    .section5TextBox{
        display: flex;
        flex-direction: column;
    }
    .inputTxtBox{
        margin: 10px 0px 20px 0px;
    }
    #textBoxSpecial{
        width: 350px;
        height: 120px;
    }
    #finalButton{
        width: 350px;
        height: 50px;
    }
}

    /* MDC 920 */
@media screen and (max-width: 920px){
    /* header */
    nav{
        width: 700px;
    }
    .headAside{
        width: 700px;
    }
    .headAsideP{
        width: 700px;
    }

    /* section1 */
    .firstSectionTitle{
        width: 700px;
    }
    .fisrtSectionMDC{
        width: 700px;
    }
    .PSection1{
        width: 200px;
    }
    .imgFirstSection{
        margin: 0px 0px 0px 0px;
        width: 200px;
    }
    h6{
       margin: 0px 0px;
       width: 200px;
       text-align: center;
    }
    
    /* section2 */
    .divFirstAsideMediaC{
        width: 300px;
        height: 400px; 
    }
    .textSection2{
        width: 300px;
    }
    .imgMDC{
        width: 450px;
    }
    .h2Section2{
        margin: 0px 0px 15px 0px;
        font-size: 40px;
    }

    /* section5 */
    .section5boxtitle{
        width: 350px;
    }
    .inputTxtBox{
        margin: 0px 0px 15px 0px;
        width: 300px;
    }
    #textBoxSpecial{
        width: 300px;
        height: 120px;
    }
    #finalButton{
        width: 300px;
        height: 50px;
    }


} 

    /* MDC 768 */
@media screen and (max-width: 768px){
    /* header */
    nav{
        width: 400px;
    }
    .headAside{
        width: 400px;
    }
    .headAsideP{
        width: 400px;
    }

    /* section1 */
    .firstSection{
        margin: 0px 0px;
        height: 120vh;
    }
    .firstSectionTitle{
        width: 400px;
    }
    .imgAside{
        margin: 0px 0px 0px 0px;
        align-items: center;
        flex-direction: column;
    }
    .divFirstSection{
        margin: 0px 0px;
        width: 200px;
    }
    .fisrtSectionMDC{
        width: 450px;
    }

    /* section2  */
    .divFirstAsideMediaC{
        margin: 0px 0px;
    }
    .firstAside{
        align-items: center;
        flex-direction: column;
    }
    .secondAside{
        flex-direction: column;
        align-items: center;
    }
    .imgMDC{
        align-items: end;
        width: 450px;
    }

    /* section3 */
    .section3{
        padding: 0px 0px;
    }
    #sectionMCD4{
        width: 400px;
    }
    .imgClientes{
        width: 120px;
        height: 70px;
    }
    #boxSpecial{
        height: 580px;
        width: 450px;
    }

    /* section5 */
    .section5{
        height: 80vh;
        flex-direction: column;
        justify-content:start;
    }
    .section5boxtitle{
       margin: 20px 0px;
    }

    /* footer */
    footer{
        padding: 15px 30px;
        flex-direction: column;
    }
    #imgFooterMCD{
        align-items: center;
        width: 320px;
        height: 100px;
    }
    .imagenesUltima{
        margin-right: 0px;
    }
}

    /* MDC 480 */
    @media screen and (max-width: 480px){
        /* header */
        nav{
            width: 340px;
        }
        .headAside{
            width: 340px;
        }
        .headAsideP{
            width: 340px;
        }
    
        /* section1 */
        .firstSection{
            margin: 0px 0px;
            height: 120vh;
        }
        .firstSectionTitle{
            width: 340px;
        }
        .imgAside{
            margin: 0px 0px 0px 0px;
            align-items: center;
            flex-direction: column;
        }
        .divFirstSection{
            margin: 0px 0px;
            width: 200px;
        }
        .fisrtSectionMDC{
            width: 340px;
        }

        /* section2 */
        .imgMDC{
            align-items: end;
            width: 340px;
        }

        /* section3 */
        .sectionBoxes{
            width: 340px;
        }
        #boxSpecial{
            width: 340px;
        }

        /* section4 */
        #sectionMCD4{
            margin: 0px 0px 0px 25px;
            width: 280px;
        }
    }

